#front-header {
  @extend .full-background-image-fixed;
  background-image: url('../images/header.jpg');

  .hero-body .container {
    margin-bottom: auto;
  }

  .navbar-burger span {
    height: 2px;
  }

  .navbar-item:hover {
    font-weight: bold;
  }
}
