.tile.is-child {
  min-height: 350px;

  &.is-tall {
    min-height: 650px;
  }
}

.tile article:hover {
  opacity: 0.8;
  filter: alpha(opacity=80);
}

.pswp__caption p.title,
.pwsp__caption p.subtitle {
  color: $white !important;
}
