{% block content %}
    <section class="section" id="contact">
        <div class="container">
            <div class="content has-text-centered">
                <h1 class="title">Get in touch</h1>
                <p>Interested in working together, just want to talk or grab a coffee?</p>
                <p>Nice! Send me a message at jonneketenhove@gmail.com.</p>
            </div>
        </div>
    </section>
{% endblock %}