{% block footer %}
    <footer class="footer">
        <div class="container">
            <div class="content">
                <div class="columns">
                    <div class="column">
                        <p>&copy; {{ 'now' | date('Y') }} - Jonneke ten Hove</p>
                    </div>
                    <div class="column">
                        Social stuff.
                    </div>
                </div>
            </div>
        </div>
    </footer>
{% endblock %}