{% block header %}
    <section id="front-header" class="hero is-fullheight">
        <!-- Hero head: will stick at the top -->
        <div class="hero-head">
            <header class="navbar">
                <div class="container">
                    <div class="navbar-brand">
                        <a class="navbar-item">
                            <img src="https://bulma.io/images/bulma-type-white.png" alt="Logo">
                        </a>
                        <span class="navbar-burger burger" data-target="navbarMenuHeroC">
                        <span></span>
                        <span></span>
                        <span></span>
                      </span>
                    </div>
                    <div id="navbarMenuHeroC" class="navbar-menu">
                        <div class="navbar-end">
                            <a class="navbar-item is-active">Introduction</a>
                            <a class="navbar-item is-active">Work</a>
                            <a class="navbar-item is-active">Contact</a>
                        </div>
                    </div>
                </div>
            </header>
        </div>

        <!-- Hero content: will be in the middle -->
        <div class="hero-body">
            <div class="container has-text-centered">
                <h2 class="title is-3">
                    Hi there! 👋
                </h2>
                <h1 class="title is-2">
                    I'm Jonneke
                </h1>
            </div>
        </div>
    </section>
{% endblock %}