{% block header %}
    <header>
        <nav class="navbar">
            <div class="navbar-brand">
                <a class="navbar-item" href="/">
                    <img src="#" alt="Logo jonneketenhove.nl" width="112" height="28">
                </a>
                <div class="navbar-burger burger" data-target="navbar-main">
                    <span></span>
                    <span></span>
                    <span></span>
                </div>
            </div>

            <div id="navbar-main" class="navbar-menu">
                <div class="navbar-start">
                    <a class="navbar-item" href="/">
                        Home
                    </a>
                </div>
            </div>
        </nav>
    </header>
{% endblock %}