{% extends "layout.twig" %}

{% block content %}
    <section class="section" id="introduction">
        <div class="container">
            <div class="columns">
                <div class="column is-two-thirds">
                    <div class="content has-text-centered">
                        <h1 class="title">Ik ben Jonneke</h1>
                        <p class="subtitle">UX/UI designer in opleiding</p>
                        <p>Momenteel studeer ik Kunst & Techniek aan het Saxion in Enschede. Altijd al ben ik leergierig geweest, ik houd er van nieuwe dingen te ontdekken en deze toe te passen binnen het vakgebied.</p>
                        <p>Ik ben zorgvuldig in het uitvoeren van taken en daarbij resultaat- en klantgericht. Daarnaast beschik ik over een sterk analytisch vermogen waarbij feedback en reflectie een belangrijke rol spelen.</p>
                        <p>In mijn vrije tijd mag ik graag een goed boek lezen, koken of bakken. Ook vind ik het leuk om foto's te schieten.</p>
                    </div>
                </div>
                <div class="column">
                    <div class="content has-text-centered">
                        <figure><img src="/assets/images/ik.jpg" alt="Me in large wooden shoes" width="240px" height="320px"></figure>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}