{% extends "layout.twig" %}

{% block content %}
    <section class="section">
        <div class="container">
            <div id="introduction" class="content">
                <h1 class="title">Title</h1>
                <p>Hello, this is not a website.</p>
            </div>
        </div>
    </section>
{% endblock %}