{% extends "layout.twig" %}

{% block content %}
    <section class="section" id="introduction">
        <div class="container">
            <div class="columns">
                <div class="column is-two-thirds">
                    <div class="content has-text-centered">
                        <h1 class="title">About me</h1>
                        <p class="subtitle">I enjoy working on designing user friendly interactions.</p>
                        <p>I'm a young woman with an excellent work mentality. I have a strong analytical ability, with feedback and reflection playing an important role. All this is complemented by a good sense of justice and integrity.</p>
                    </div>
                </div>
                <div class="column">
                    <div class="content has-text-centered">
                        <figure><img src="/assets/images/ik.jpg" alt="Me in large wooden shoes" width="240px" height="320px"></figure>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}