{% extends "layout.twig" %}

{% block content %}
    <section class="section" id="introduction">
        <div class="container">
            <div class="content">
                <h1 class="title">About me</h1>
                <p class="subtitle">I enjoy working on designing user friendly interactions.</p>
                <p>Hello, this is not a website.</p>
            </div>
        </div>
    </section>
{% endblock %}