{% block tiles %}
    <div class="gallery">
        <div class="tile is-ancestor">
            <div class="tile">
                <div class="tile is-parent is-5">
                    <article class="tile is-child notification full-background-image"
                             style="background-image: url('/assets/images/proefeet.jpg')">
                        <p class="title">A title</p>
                        <p class="subtitle">With a subtitle</p>
                        <div class="lightbox-items">
                            <a href="/assets/images/proefeet.jpg" data-glightbox="title:Interactive chat application; description: Using a Nokia keyboard and strings you send each other messages" class="glightbox"></a>
                        </div>
                    </article>
                </div>
                <div class="tile is-parent">
                    <article class="tile is-child notification has-text-white full-background-image"
                             style="background-image: url('/assets/images/chat.jpg')">
                        <p class="title tile-text">A title</p>
                        <p class="subtitle tile-text">With a subtitle</p>
                        <div class="content">
                            <p class="tile-text">Possibly with content.</p>
                        </div>
                        <div class="lightbox-items">
                            <a href="/assets/images/chat.jpg" data-glightbox="title:Interactive chat application; description: Using a Nokia keyboard and strings you send each other messages" class="glightbox"></a>
                        </div>
                    </article>
                </div>
            </div>
        </div>

        <div class="tile is-ancestor">
            <div class="tile">
                <div class="tile is-parent is-7">
                    <article class="tile is-child notification has-text-white tile-background-bar"
                             style="background-image: url('/assets/images/proefeet.jpg')">
                        <p class="title">Wide tile</p>
                        <div class="content">
                            <p>We can put in a bunch of content here. Did you know this? It's pretty nice and it looks cool.</p>
                        </div>
                        <div class="lightbox-items">
                            <a href="/assets/images/proefeet.jpg" data-glightbox="title:Interactive chat application; description: Using a Nokia keyboard and strings you send each other messages" class="glightbox"></a>
                        </div>
                    </article>
                </div>
                <div class="tile is-parent is-vertical">
                    <article class="tile is-child is-tall is-vertical notification tile-background-bar"
                             style="background-image: url('/assets/images/timescapes.jpg')">
                        <p class="title">Timescapes</p>
                        <p class="subtitle">Top tile</p>
                        <div class="lightbox-items">
                            <a href="/assets/images/timescapes.jpg" data-glightbox="title:Interactive chat application; description: Using a Nokia keyboard and strings you send each other messages" class="glightbox"></a>
                        </div>
                    </article>
                </div>
            </div>
        </div>

        <div class="tile is-ancestor">
            <div class="tile is-parent">
                <article class="tile is-child notification has-text-white tile-background-bar"
                         style="background-image: url('/assets/images/kerk.jpg')" >
                    <p class="title">One column</p>
                    <p class="subtitle">yeah man</p>
                    <div class="lightbox-items">
                        <a href="/assets/images/kerk.jpg" data-glightbox="title:Flyers for church group" class="glightbox"></a>
                        <a href="/assets/images/kerk2.jpg" class="glightbox"></a>
                    </div>
                </article>
            </div>
            <div class="tile is-parent">
                <article class="tile is-child notification has-text-white tile-background-bar"
                         style="background-image: url('/assets/images/kookboek.jpg')">
                    <p class="title">One column</p>
                    <p class="subtitle">With no content</p>
                    <div class="lightbox-items">
                        <a href="https://www.youtube.com/watch?v=xHRjUr4zS4M" class="glightbox"></a>
                    </div>
                </article>
            </div>
            <div class="tile is-parent">
                <article class="tile is-child notification has-text-white tile-background-bar">
                    <p class="title">One column</p>
                    <p class="subtitle">With no content</p>
                    <div class="lightbox-items">
                        <a href="https://www.youtube.com/watch?v=xHRjUr4zS4M" class="glightbox"></a>
                    </div>
                </article>
            </div>
        </div>
    </div>
{% endblock %}