{% block tiles %}
    <div class="gallery">
        <div class="tile is-ancestor">
            <div class="tile">
                <div class="tile is-parent is-7 is-vertical">
                    <article class="tile is-child is-vertical notification has-text-white full-background-image"
                             style="background-image: url('/assets/images/proefeet.jpg')">
                        <p class="title">Proef Eet Enschede</p>
                        <div class="content">
                            <p class="tile-text">Redesign van een promotiewebsite waarbij ik mij voornamelijk met de UX/UI bezig heb gehouden.</p>
                        </div>
                        <div class="lightbox-items">
                            <a href="/assets/videos/proefeet.mp4" class="glightbox1"></a>
                        </div>
                    </article>

                    <article class="tile is-child is-vertical notification has-text-white full-background-image"
                             style="background-image: url('/assets/images/chat.jpg')">
                        <p class="title tile-text">Interactieve chat</p>
                        <p class="subtitle tile-text">Met touwtjes en een Nokia toetsenbord</p>
                        <div class="content">
                            <p class="tile-text">Stuur elkaar berichten zónder touchscreen. Gebruik touwtjes om letters te bepalen, net zoals je vroeger met je oude Nokia-telefoon deed.</p>
                        </div>
                        <div class="lightbox-items">
                            <a href="/assets/videos/chat.mp4" class="glightbox2"></a>
                        </div>
                    </article>
                </div>
                <div class="tile is-parent">
                    <article class="tile is-child notification has-text-white tile-background-bar"
                             style="background-image: url('/assets/images/timescapes.jpg')">
                        <p class="title">Timescapes</p>
                        <p class="subtitle">Een tijdmachine om Enschede te promoten</p>
                        <div class="content">
                            <p class="tile-text">Ontwikkeling van een beleving incl. web-app om de stad Enschede aantrekkelijker te maken voor bezoekers.  Ik was verantwoordelijk voor alles omtrent het UX/UI design.</p>
                        </div>
                        <div class="lightbox-items">
                            <a href="/assets/videos/timescapes.mp4" class="glightbox3"></a>
                            <a href="/assets/images/timescapes.jpg" class="glightbox3"></a>
                        </div>
                    </article>
                </div>
            </div>
        </div>

        <div class="tile is-ancestor">
            <div class="tile is-parent">
                <article class="tile is-child notification has-text-white tile-background-bar"
                         style="background-image: url('/assets/images/kerk.jpg')" >
                    <p class="title">Flyers</p>
                    <p class="subtitle">Gemaakt in InDesign voor een kerk</p>
                    <div class="lightbox-items">
                        <a href="/assets/images/kerk.jpg" class="glightbox4"></a>
                        <a href="/assets/images/kerk2.jpg" class="glightbox4"></a>
                    </div>
                </article>
            </div>
            <div class="tile is-parent">
                <article class="tile is-child notification has-text-white tile-background-bar"
                         style="background-image: url('/assets/images/kookboek.jpg')">
                    <p class="title">Kookboek</p>
                    <p class="subtitle">Gepersonaliseerd kookboek met lekkere recepten!</p>
                    <div class="lightbox-items">
                        <a href="/assets/videos/kookboek.mp4" class="glightbox5"></a>
                    </div>
                </article>
            </div>
            <div class="tile is-parent">
                <article class="tile is-child notification has-text-white tile-background-bar"
                         style="background-image: url('/assets/images/bakkie.jpg')">
                    <p class="title">Bakkie Zonneschijn</p>
                    <p class="subtitle">Moka pot die tot leven komt wanneer de schakelaar wordt omgezet</p>
                    <div class="lightbox-items">
                        <a href="/assets/videos/bakkie.mp4" class="glightbox6"></a>
                    </div>
                </article>
            </div>
        </div>
    </div>
{% endblock %}