{% block tiles %}
    <div class="gallery">
        <div class="tile is-ancestor">
            <div class="tile">
                <div class="tile is-parent is-5">
                    <article class="tile is-child notification has-text-white full-background-image modal-video-item"
                             data-video-id="-zzWoYIAv5I"
                             style="background-image: url('/assets/images/gorilla.jpg')">
                        <p class="title">A title</p>
                        <p class="subtitle">With a subtitle</p>
                    </article>
                </div>
                <div class="tile is-parent">
                    <article class="tile is-child notification has-text-white full-background-image modal-video-item"
                             data-video-id="-zzWoYIAv5I"
                             style="background-image: url('/assets/images/header.jpg')">
                        <p class="title">A title</p>
                        <p class="subtitle">With a subtitle</p>
                        <div class="content">
                            <p>Possibly with content.</p>
                        </div>
                    </article>
                </div>
            </div>
        </div>

        <div class="tile is-ancestor">
            <div class="tile">
                <div class="tile is-parent is-7">
                    <article class="tile is-child notification has-text-white tile-background-bar modal-video-item"
                             data-video-id="-zzWoYIAv5I">
                        <p class="title">Wide tile</p>
                        <div class="content">
                            <p>We can put in a bunch of content here. Did you know this? It's pretty nice and it looks cool.</p>
                        </div>
                    </article>
                </div>
                <div class="tile is-parent is-vertical">
                    <article class="tile is-child notification is-vertical has-text-white tile-background-bar modal-video-item"
                             data-video-id="-zzWoYIAv5I">
                        <p class="title">Vertical...</p>
                        <p class="subtitle">Top tile</p>
                    </article>
                    <article class="tile is-child notification is-vertical has-text-white tile-background-bar modal-video-item"
                             data-video-id="-zzWoYIAv5I">
                        <p class="title">Vertical...</p>
                        <p class="subtitle">Top tile</p>
                    </article>
                </div>
            </div>
        </div>

        <div class="tile is-ancestor">
            <div class="tile is-parent">
                <article class="tile is-child notification has-text-white tile-background-bar modal-video-item"
                         data-video-id="-zzWoYIAv5I">
                    <p class="title">One column</p>
                    <p class="subtitle">yeah man</p>
                </article>
            </div>
            <div class="tile is-parent">
                <article class="tile is-child notification has-text-white tile-background-bar modal-video-item"
                         data-video-id="-zzWoYIAv5I">
                    <p class="title">One column</p>
                    <p class="subtitle">With no content</p>
                </article>
            </div>
            <div class="tile is-parent">
                <article class="tile is-child notification has-text-white tile-background-bar modal-video-item"
                         data-video-id="-zzWoYIAv5I">
                    <p class="title">One column</p>
                    <p class="subtitle">With no content</p>
                </article>
            </div>
        </div>
    </div>
{% endblock %}