{% block tiles %}
    <div class="gallery">
        <div class="tile is-ancestor">
            <div class="tile">
                <div class="tile is-parent is-7 is-vertical">
                    <article class="tile is-child is-vertical notification has-text-white full-background-image"
                             style="background-image: url('/assets/images/proefeet.jpg')">
                        <p class="title">Proef Eet Enschede</p>
                        <p class="subtitle">Redesign promotion website of a local event</p>
                        <div class="lightbox-items">
                            <a href="https://www.youtube.com/watch?v=ZH2pmvd448U" class="glightbox"></a>
                            <a href="/assets/images/proefeet2.jpg" class="glightbox"></a>
                        </div>
                    </article>

                    <article class="tile is-child is-vertical notification has-text-white full-background-image"
                             style="background-image: url('/assets/images/chat.jpg')">
                        <p class="title tile-text">Interactive chat</p>
                        <p class="subtitle tile-text">Pulling strings with a Nokia style keyboard</p>
                        <div class="content">
                            <p class="tile-text">Everybody remembers the Nokia keyboards. Now there's a twist with a number of strings instead of an actualy keyboard. It's an original way of sending messages to each other.</p>
                        </div>
                        <div class="lightbox-items">
                            <a href="https://www.youtube.com/watch?v=oB_b_8LVTC0" class="glightbox"></a>
                        </div>
                    </article>
                </div>
                <div class="tile is-parent">
                    <article class="tile is-child notification has-text-white tile-background-bar"
                             style="background-image: url('/assets/images/timescapes.jpg')">
                        <p class="title">Timescapes</p>
                        <p class="subtitle">Promoting the municipality of Enschede</p>
                        <div class="content">
                            <p class="tile-text">I worked on the UX and UI of the physical application as well as the webapp.</p>
                        </div>
                        <div class="lightbox-items">
                            <a href="https://www.youtube.com/watch?v=pwmA6O1H6GY" class="glightbox"></a>
                            <a href="/assets/images/timescapes.jpg" class="glightbox"></a>
                        </div>
                    </article>
                </div>
            </div>
        </div>

        <div class="tile is-ancestor">
            <div class="tile is-parent">
                <article class="tile is-child notification has-text-white tile-background-bar"
                         style="background-image: url('/assets/images/kerk.jpg')" >
                    <p class="title">Flyers</p>
                    <p class="subtitle">Created for the church group using InDesign</p>
                    <div class="lightbox-items">
                        <a href="/assets/images/kerk.jpg" class="glightbox"></a>
                        <a href="/assets/images/kerk2.jpg" class="glightbox"></a>
                    </div>
                </article>
            </div>
            <div class="tile is-parent">
                <article class="tile is-child notification has-text-white tile-background-bar"
                         style="background-image: url('/assets/images/kookboek.jpg')">
                    <p class="title">Cookbook</p>
                    <p class="subtitle">A cookbook made in InDesign featuring loads of great recipes!</p>
                    <div class="lightbox-items">
                        <a href="https://www.youtube.com/watch?v=xHRjUr4zS4M" class="glightbox"></a>
                    </div>
                </article>
            </div>
            <div class="tile is-parent">
                <article class="tile is-child notification has-text-white tile-background-bar"
                         style="background-image: url('/assets/images/bakkie.jpg')">
                    <p class="title">Bakkie Zonneschijn</p>
                    <p class="subtitle">A useless machine that looks like a Moka pot</p>
                    <div class="lightbox-items">
                        <a href="https://www.youtube.com/watch?v=oiWXiSjfWP0" class="glightbox"></a>
                    </div>
                </article>
            </div>
        </div>
    </div>
{% endblock %}