/**
 * Any defaults that should be used across all of the stylesheets.
 */

$default-background: #eeeeee;
$default-color: #000000;
$default-link-color: #f44e4e;

$default-font-family: "Helvetica Neue", Helvetica, Arial, "Lucida Grande", "Verdana", sans-serif;

$small: 480px;
$medium: 768px;
$fence-sm: $small $medium;

/**
 * Clearfix.
 */
.clearfix:before {
  content: " ";
  display: table;
}

.clearfix:after {
  @include clear-after;
}

/**
 * For IE 6/7 only, include this rule to trigger hasLayout and contain floats.
 */
.clearfix {
  *zoom: 1;
}
