body {
  color: $default-color;
  font-family: $default-font-family;
  font-weight: 300;
}

p {
  font-size: 1.2em;
  letter-spacing: 0.75px;
  line-height: 1.5;
  margin-bottom: 0.65em;
}

h1 {
  color: $default-color;
  font-family: "Nothing You Could Do", cursive;
  font-size: 1.9em;
  font-weight: 500;
  margin-bottom: 0.5em;
  margin-top: 0.2em;
  word-wrap: break-word;

  @include breakpoint($small) {
    font-size: 2.7em;
  }
}

a {
  color: $default-link-color;
  font-size: 1em;
  text-decoration: none;
  text-shadow: -1px -1px #aa3030;

  @include breakpoint($small) {
    font-size: 1.2em;
  }
}
